---
import Layout from "@layouts/Layout.astro";

---

<Layout title= "47 Beavers - History">
    <main class="w-screen h-screen">
        <h1 class="text-center pt-8">Our History</h1>
        <hr />
        <section class="flex flex-row items-center justify-center">
            <p class="m-4 w-1/6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vitae nisl vitae nisl luctus lacinia. Sed euismod, nisl ut
               
            </p>
            <p class="m-4 w-1/6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vitae nisl vitae nisl luctus lacinia. Sed euismod, nisl ut
                tincidunt luctus, nisl nisl aliquet nisl, nec aliquet nisl
            </p>
        </section>
    </main>
</Layout>