---
import Layout from "../layouts/Layout.astro";
import MoreInfoCard from "@components/Card";
---

<Layout title="Welcome to 47 Beavers.">
  <main>
    <section
      class="flex flex-col items-center justify-center h-screen bg-team bg-cover"
    >
      <div class="bg-blue-500/50 h-max w-15 p-8">
        <span
          class="mb-6 flex flex-col items-center justify-center text-6xl text-center font-bold text-white"
        >
          47 Beavers
          <br />
          FTC Team 13100
        </span>
      </div>
    </section>
    <section class="flex flex-row items-center justify-center h-screen">
      <MoreInfoCard title="About Us" link="/about">
        <p class="text-center text-white md:text-lg">
          Our team was founded in 2017 and is based in Montgomery County,
          Maryland. This will be our seventh season competing in the FIRST Tech
          Challenge (FTC).
          <br />
          The team is actually a joint-school team, including members from multiple
          high schools in Montgomery County such as Poolesville, Quince Orchard,
          and Northwest High school.
        </p>
      </MoreInfoCard>
      <MoreInfoCard title="About Us" link="/about">
        <p class="text-center text-white xl:text-xl">
          Our team wants to promote STEM in our community and to introduce new
          opportunities to younger students!
          <br />
          <br />
          BeaverCamps is the 47 Beaver's new robotics-centered series of summer camps,
          meant for grades 3 - 8. Each camp is one-week long and hosted virtually.
          Find out more below.
        </p>
      </MoreInfoCard>
      <MoreInfoCard title="About Us" link="/about">
        <p class="text-center text-white md:text-xl">
          Meet our team members who not only work on various aspects of the
          robot, but also teach the various classes offered in BeaverCamps.
          <br />
          <br />
          Our members also are very thankful for our mentors and sponsors, who help
          us throughout the season as well!
        </p>
      </MoreInfoCard>
    </section>
  </main>
</Layout>
