.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.image {
    position: relative;
    min-width: 20em;
    min-height: 20em;
    margin: 30px;
}

.item { 
    position: relative;
    width: 500px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}